# Render will set PORT automatically.
PORT=3000

# Use Render External Database URL.
# In CMD, if you set it manually and include schema, escape & as ^&
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/mastersmon?sslmode=require

# Optional.
DEMO_EMAIL=demo@mastersmon.com
CORS_ORIGIN=*
NODE_ENV=production
